img { display: block; width: 100%; height: auto; }
// h2 { max-width: 1920px; margin: 0 auto 8px auto; }

.slide {
  margin: 0 auto 16px auto;
  max-width: 1920px;
}

.videos-listing {
  display: flex; flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1920px; margin: 0 auto;
  background-color: #202020;
  padding: 8px 0; margin-bottom: 16px;

  h2 { width: 100%; margin: 0 0 16px 0; }

  .mat-card {
    width: calc(20% - 16px); margin-bottom: 16px;
    .thumb {
      display: block; position: relative; overflow: hidden;
      width: calc(100% + 48px);
      margin: 0 -24px 16px -24px;
      padding-top: 66.5%;
      &:first-child { margin-top: -24px; }
      // img { width: 100%; height: auto; }
      img { height: 100%; position: absolute; top: 0; left: 0; }
    }
  }

  h3 {
    font-size: .9rem; font-weight: 400; margin: 0 8px 16px 8px;
    a { display: block; color: #fff; text-decoration: none; }
  }
}
